<div>
    <h2 id="page-heading">
        <span jhiTranslate="tenderControlApp.employers.home.title">Employers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employers" [routerLink]="['/employers/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tenderControlApp.employers.home.createLabel">
            Create new Employers
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="employers?.length === 0">
        <span jhiTranslate="tenderControlApp.employers.home.notFound">No employers found</span>
    </div>
    <div class="table-responsive" *ngIf="employers?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tenderControlApp.employers.inn">Inn</span></th>
            <th><span jhiTranslate="tenderControlApp.employers.kpp">Kpp</span></th>
            <th><span jhiTranslate="tenderControlApp.employers.ogrn">Ogrn</span></th>
            <th><span jhiTranslate="tenderControlApp.employers.datareg">Datareg</span></th>
            <th><span jhiTranslate="tenderControlApp.employers.isurlic">Isurlic</span></th>
            <th><span jhiTranslate="tenderControlApp.employers.employname">Employname</span></th>
            <th><span jhiTranslate="tenderControlApp.employers.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employers of employers ;trackBy: trackId">
                <td><a [routerLink]="['/employers', employers.id, 'view' ]">{{employers.id}}</a></td>
                <td>{{employers.inn}}</td>
                <td>{{employers.kpp}}</td>
                <td>{{employers.ogrn}}</td>
                <td>{{employers.datareg}}</td>
                <td>{{employers.isurlic}}</td>
                <td>{{employers.employname}}</td>
                <td>{{employers.description}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/employers', employers.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employers', employers.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'employers', { outlets: { popup: employers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
