<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tenderspec-heading" jhiTranslate="tenderControlApp.tenderspec.home.createOrEditLabel">Create or edit a Tenderspec</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderControlApp.tenderspec.numberofdock" for="field_numberofdock">Numberofdock</label>
                    <input type="text" class="form-control" name="numberofdock" id="field_numberofdock"
                           formControlName="numberofdock"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderControlApp.tenderspec.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderControlApp.tenderspec.employers" for="field_employers">Employers</label>
                    <select class="form-control" id="field_employers" name="employers" formControlName="employers">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employersOption.id === editForm.get('employers').value?.id ? editForm.get('employers').value : employersOption" *ngFor="let employersOption of employers; trackBy: trackEmployersById">{{employersOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderControlApp.tenderspec.tender" for="field_tender">Tender</label>
                    <select class="form-control" id="field_tender" name="tender" formControlName="tender">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="tenderOption.id === editForm.get('tender').value?.id ? editForm.get('tender').value : tenderOption" *ngFor="let tenderOption of tenders; trackBy: trackTenderById">{{tenderOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
