<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tender-heading" jhiTranslate="tenderControlApp.tender.home.createOrEditLabel">Create or edit a Tender</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderControlApp.tender.nomertender" for="field_nomertender">Nomertender</label>
                    <input type="text" class="form-control" name="nomertender" id="field_nomertender"
                           formControlName="nomertender"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderControlApp.tender.datarun" for="field_datarun">Datarun</label>
                    <input type="text" class="form-control" name="datarun" id="field_datarun"
                           formControlName="datarun"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderControlApp.tender.dataend" for="field_dataend">Dataend</label>
                    <input type="text" class="form-control" name="dataend" id="field_dataend"
                           formControlName="dataend"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tenderControlApp.tender.idUser" for="field_idUser">Id User</label>
                    <input type="number" class="form-control" name="idUser" id="field_idUser"
                           formControlName="idUser"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
